body {
  margin: 0;
  font-family: monospace, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #222;
  color: #fafafa;
}

main {
  max-width: 700px;
  padding: 2rem;
  margin: 4rem auto 0;
  text-align: left;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Navigation */
nav a {
  color: #fafafa;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 1.8rem;
  left: 0;

  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  min-width: 240px;

  background: #fff;
  border: 1px solid #ddd;

  display: none;
}

.dropdown-menu a {
  display: block;
  padding: 0.5rem 1rem;
  color: #000;
}

.dropdown-menu a:hover {
  background: #eee;
}

/* Show on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}
