body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, monospace;
  background: #222;
  color: #fafafa
}

main {
  max-width: 700px;
  padding: 2rem;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  font-family: sans-serif;
  margin-bottom: 0.5rem;
}

nav {
  margin: 2rem 0;
  font-family: sans-serif;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: #555;
}

nav a:hover {
  color: #000;
}

section {
  margin-top: 3rem;
  font-family: sans-serif;
}
