body {
  margin: 0;
  font-family: monospace, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #000000;
  color: #fafafa;
}

main {
  max-width: 700px;
  padding: 2rem;
  margin: 4rem auto 0;
  text-align: left;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Navigation */
.nav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.nav li {
  margin: 0;
  padding: 0;
}

nav a {
  color: #fafafa;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > a {
  display: inline-block;
  padding: 0.25rem 0;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 240px;
  list-style: none;
  background: #fff;

}

.dropdown-menu a {
  display: block;
  padding: 0.5rem 0rem;
  color: #000;
}

.dropdown-menu a:hover {
  background: #eee;
}

/* Show on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}
